<div class="main-container">
  <aside class="sidebar-menu">
    <nav class="menu-items">
      <h2 class="menu-title">Menu</h2>
      <ul>
        <li>
          <a href="http://localhost:4200/ativos">Ativos</a>
        </li>
        <li>
          <a href="http://localhost:4200/chamados">Chamados</a>
        </li>
        <li>
          <a href="http://localhost:4200/relatorios">Relatórios</a>
        </li>
      </ul>
    </nav>
  </aside>
  <main class="content-area">
    <router-outlet></router-outlet>
  </main>
</div>
