<div class="dashboard-container">
    <div class="card card-recent-calls">
      <h3>Últimos chamados </h3>
      <div class="call-list">
        <div class="call-list">
            <div class="list-item">
              <span>Chamado #1</span>
              <div class="progress-bar"></div>
            </div>
            <div class="list-item">
              <span>Chamado #2</span>
              <div class="progress-bar"></div>
            </div>
            <div class="list-item">
              <span>Chamado #3</span>
              <div class="progress-bar"></div>
            </div>
            </div>
      </div>
    </div>
    <div class="card card-charts">
      <h3>gráfico de chamados</h3>
      <div class="chart-container">
        <div class="bar-chart">
          <div class="bar" style="height: 60px;"></div>
          <div class="bar" style="height: 90px;"></div>
          <div class="bar" style="height: 40px;"></div>
          <div class="bar" style="height: 120px;"></div>
          <div class="bar" style="height: 70px;"></div>
          <div class="bar" style="height: 100px;"></div>
          <div class="bar" style="height: 50px;"></div>
          <div class="bar" style="height: 80px;"></div>
        </div>
      </div>
    </div>
  </div>
